@include media-monitor{

  .index {
    min-height: $website-height-monitor;
    
  }

  body {
    height: $website-height-monitor;
    overflow-x: hidden;
  }

  
  .hero-section__introduction {
    top: -4rem;
    left: 20rem;
    width: 30rem;
    
    h2 {
      font-size: font($smallMonitor, header-2);
      padding: 2.2rem;
    }
    h4 {
      font-size: font($smallMonitor, header-4);
      line-height: 2.5rem;
    }
  }
  .hero-section__name {
    left: 2rem;
    font-size: font($smallMonitor, header-1);
    width: 700px;

  }
  .hero__jupiter-image {
    max-width: 27rem;
    img {
      height: 35rem;
      width: auto;
    }
  }
  .hero__moon {
    visibility: visible;
    animation: moonSmall 40s ease-in-out;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    img {
      height: 0.75rem;
    }
  }

  .projects {
    top: 45rem;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;

    &-elements {
      
      width: 45rem;
      grid-template-columns: [line0] auto [text_zone] 3rem [gap] 5rem [img];

      &:hover {
        .button-go-to {
          display: block;
        }
      }
      
    }

    &-element__WhiteJupiter-text {
      grid-column: 1 / 2;
      h3 {
        font-size: font($smallMonitor, header-3);
      }
      p {
        letter-spacing: 1px;
        word-spacing: -2px;
        line-height: 24px;
        font-size: font($smallMonitor, paragraph);
      }
    }

    img {
      grid-column: 3 / 4;
      height: 100px;
    }

    .button-go-to {
      display: none;
      height: 240px;
      width: 800px;
      transform: translate(-10px, -10px);
      a {
        font-size: font($smallMonitor, header-3);
      }
    }

    &-elements__WhiteJupiter-tags {
      
      margin-top: 2rem;
      font-size: font($smallMonitor, paragraph);
      
      .button-tag__div {
        font-size: font($smallMonitor, paragraph);
      }
    }
  }

  footer {
    top: $website-height-monitor;
    font-size: font($smallMonitor, small);
  }

//About page section

  .about {
    height: $about-height-monitor;
  }
  .body-about {
    height: $about-height-monitor;
  }

  .hero__about-section {
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 5rem 8rem 16rem 20rem 5rem 10rem;

    h2 {
      font-size: font($smallMonitor, header-2);
    }
    p {
      font-size: font($smallMonitor, paragraph);
      letter-spacing: 1px;
      word-spacing: 2px;
      line-height: 1.5rem;
    }
    h6 {
      font-size: font($smallMonitor, header-6);
      line-height: 1.5rem;
      grid-row: 5/6;
      grid-column: 2/3;
    }
    ul {
      line-height: 3rem;
      font-size: font($smallMonitor, paragraph);
      grid-row: 6/7;
      grid-column: 2/3;
      justify-self: center;
    }
  }

  .footer_about {
    top: $about-height-monitor;
    font-size: font($smallMonitor, small);
  }
}