@include media-phone{




  .index {
    min-height: $website-height-phone;
    
  }

  body {
    height: $website-height-phone;
    overflow-x: hidden;
  }

  header {
    .navigation {
      font-size: 14px;
      transform: translate(-60%, -50%);

      a {
        padding: 0.2rem;
      }
    }
  }
  
  .hero-section__introduction {
    top: -4rem;
    left: 50vw;
    width: 20rem;
    
    h2 {
      font-size: font($phone, header-3);
      padding: 2.2rem;
      opacity: 100%;
      z-index: 6;

    }
    h4 {
      font-size: font($phone, header-4);
      line-height: 2.5rem;
      opacity: 100%;
      z-index: 6;
      text-align: center;
    }
  }
  .hero-section__name {
    left: 50vw;
    font-size: font($phone, header-2);
    width: 350px;;
    transform: translateX(-50%);

  }
  .hero__jupiter-image {
    right: 5%;
    top: 3rem;
    img {

      height: 48px;
      width: auto;
      opacity: 70%;
    }
  }
  .hero__moon {
    visibility: hidden;
    img {
      height: 0.75rem;
    }
  }

  .projects {
    top: 45rem;
    grid-template-columns: repeat(1, 1fr);
    width: 100vw;

    .go-to-project {
      font-size: font($phone, header-3);
      transform: translateY(6vh);
    }

    &-elements {
      
      width: 22rem;
      grid-template-columns: [line0] 2rem [text_zone] 18rem [gap];

      &:hover {
        &::after{
          height: 14rem;
          width: 20rem;
          transform: translate(1rem, 4rem);
        }
      }
      
    }

    &-element__WhiteJupiter-text {
      grid-column: 2 / 3;
      h3 {
        font-size: font($phone, header-3);
      }
      p {
        line-height: 24px;
        font-size: font($phone, small);
      }
    }

    img {
      grid-column: 3 / 4;
      height: 100px;
      visibility: hidden;
    }

    &-elements__WhiteJupiter-tags {
      margin-left: 2rem;
      margin-top: 3rem;
      font-size: font($phone, paragraph);
      
      .button-tag__div {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        font-size: font($phone, paragraph);
      }
    }
  }

  footer {
    top: $website-height-phone;
    font-size: font($phone, small);
  }

//About page section

  .about {
    height: $about-height-phone;
  }
  .body-about {
    height: $about-height-phone;
  }

  .hero__about-section {
    grid-template-columns: 3% 94% 3%;
    grid-template-rows: 3rem 5rem 28rem 25rem 5rem 10rem;

    h2 {
      font-size: font($phone, header-2);
      opacity: 90%;
    }
    p {
      font-size: font($phone, paragraph);

      line-height: 1.5rem;
      opacity: 90%;
    }
    h6 {
      font-size: font($phone, header-6);
      line-height: 1.5rem;
      grid-row: 5/6;
      grid-column: 2/3;
    }
    ul {
      line-height: 3rem;
      font-size: font($phone, paragraph);
      grid-row: 6/7;
      grid-column: 2/3;
      justify-self: center;
    }
  }

  .footer_about {
    top: $about-height-phone;
    font-size: font($phone, small);
  }
}