
@keyframes shake {
  0% { transform: translate(0.5px, 0.5px) rotate(0deg); }
  10% { transform: translate(-0.5px, -1px) rotate(-2deg); }
  20% { transform: translate(-1.5px, 0px) rotate(2deg); }
  30% { transform: translate(1.5px, 1px) rotate(0deg); }
  40% { transform: translate(0.5px, -0.5px) rotate(2deg); }
  50% { transform: translate(-0.5px, 1px) rotate(-2deg); }
  60% { transform: translate(-1.5px, 0.5px) rotate(0deg); }
  70% { transform: translate(1.5px, 0.5px) rotate(-2deg); }
  80% { transform: translate(-0.5px, -0.5px) rotate(2deg); }
  90% { transform: translate(0.5px, 1px) rotate(0deg); }
  100% { transform: translate(0.5px, -0.5px) rotate(-2deg); }
}

@keyframes moon {
  0% { transform: translate(-10px, -7px); opacity: 0%;}
  5% { transform: translate(-20px, -15px); opacity: 3%;}
  9% { transform: translate(-50px, -22px) scale(1.1); opacity: 6%;}
  17% { transform: translate(-100px, -30px) scale(1.2); opacity: 15%;}
  20% { transform: translate(-125px, -27px) scale(1.25); opacity: 30%;}
  23% { transform: translate(-150px, -25px) scale(1.3); opacity: 45%;}
  26% { transform: translate(-160px, -18px) scale(1.4); opacity: 60%;}
  28% { transform: translate(-170px, -10px) scale(1.5); opacity: 70%;}
  30% { transform: translate(-165px, -5px) scale(1.55); opacity: 73%;}
  32% { transform: translate(-160px, 0px) scale(1.65); opacity: 75%;}
  36% { transform: translate(-150px, 10px) scale(1.68); opacity: 80%;}
  38% { transform: translate(-140px, 20px) scale(1.7); opacity: 83%;}
  40% { transform: translate(-130px, 30px) scale(1.75); opacity: 85%;}
  42% { transform: translate(-120px, 40px) scale(1.8); opacity: 89%;}
  46% { transform: translate(-90px, 55px) scale(1.85); opacity: 93%;}
  52% { transform: translate(-20px, 75px) scale(1.85); opacity: 93%;}
  58% { transform: translate(50px, 100px) scale(1.9); opacity: 95%;}
  64% { transform: translate(120px, 120px) scale(1.9); opacity: 95%;}
  70% { transform: translate(190px, 130px) scale(1.95); opacity: 100%;}
  76% { transform: translate(260px, 135px) scale(1.95); opacity: 100%;}
  78% { transform: translate(281px, 138px) scale(2); opacity: 100%; max-width: 38px; overflow: hidden;}
  80% { transform: translate(301px, 139px) scale(2); opacity: 100%; max-width: 18px; overflow: hidden;}
  82% { transform: translate(310px, 139px) scale(2); opacity: 100%; max-width: 0px; overflow: hidden;}
  100% { transform: translate(310px, 139px) scale(2); opacity: 100%; max-width: 0px; overflow: hidden;}
}

@keyframes moonSmall {
  0% { transform: translate(10px, -7px); opacity: 0%;}
  5% { transform: translate(0px, -15px); opacity: 3%;}
  9% { transform: translate(-30px, -22px) scale(1.1); opacity: 6%;}
  17% { transform: translate(-80px, -30px) scale(1.2); opacity: 15%;}
  20% { transform: translate(-105px, -27px) scale(1.25); opacity: 30%;}
  23% { transform: translate(-130px, -25px) scale(1.3); opacity: 45%;}
  26% { transform: translate(-140px, -18px) scale(1.4); opacity: 60%;}
  28% { transform: translate(-150px, -10px) scale(1.5); opacity: 70%;}
  30% { transform: translate(-145px, -5px) scale(1.55); opacity: 73%;}
  32% { transform: translate(-140px, 0px) scale(1.65); opacity: 75%;}
  36% { transform: translate(-130px, 10px) scale(1.68); opacity: 80%;}
  38% { transform: translate(-120px, 20px) scale(1.7); opacity: 83%;}
  40% { transform: translate(-110px, 30px) scale(1.75); opacity: 85%;}
  42% { transform: translate(-100px, 40px) scale(1.8); opacity: 89%;}
  46% { transform: translate(-70px, 55px) scale(1.85); opacity: 93%;}
  52% { transform: translate(-20px, 75px) scale(1.85); opacity: 93%;}
  58% { transform: translate(50px, 100px) scale(1.9); opacity: 95%;}
  64% { transform: translate(120px, 120px) scale(1.9); opacity: 95%;}
  70% { transform: translate(190px, 130px) scale(1.95); opacity: 100%;}
  76% { transform: translate(260px, 135px) scale(1.95); opacity: 100%;}
  78% { transform: translate(281px, 138px) scale(2); opacity: 100%; max-width: 38px; overflow: hidden;}
  80% { transform: translate(301px, 139px) scale(2); opacity: 100%; max-width: 18px; overflow: hidden;}
  82% { transform: translate(310px, 139px) scale(2); opacity: 100%; max-width: 0px; overflow: hidden;}
  100% { transform: translate(310px, 139px) scale(2); opacity: 100%; max-width: 0px; overflow: hidden;}
}

